---
import { Icon } from "astro-icon/components";
import Card from "@/components/Card.astro";

const { title, href, location, startDate, endDate, description } = Astro.props;
---

<Card>
    <h2 class="text-xl font-semibold">{title}</h2>
    <div class="flex flex-row space-x-2 items-center">
        <Icon name="location" class="w-4 h-4" />
        <a href={href} target="_blank"
            ><p class="text-md front-semibold hover:underline">{location}</p>
        </a>
    </div>
    <div class="flex flex-row space-x-3 items-center">
        <Icon name="calendar" class="w-4 h-4" />
        <p class="text-md">{startDate} - {endDate || "Now"}</p>
    </div>
    <p>{description}</p>
    <div class="pt-3 flex flex-wrap gap-4"><slot /></div>
</Card>
