---
import { Icon } from "astro-icon";
import Card from "./Card.astro"

const { title, href, location, startDate, endDate } = Astro.props;
---

<Card>
    <h2 class="text-xl font-semibold">{title}</h2>
    <div class="flex flex-row space-x-3 items-center">
        <Icon name="location" class="w-4 h-4 flex-shrink-0" />
        <a href={href} aria-label={title} target="_blank" rel="noopener noreferrer">
            <p class="text-md hover:underline">{location}</p>
        </a>
    </div>
    <div class="flex flex-row space-x-3 items-center">
        <Icon name="calendar" class="w-4 h-4" />
        <p class="text-md">{startDate} - {endDate}</p>
    </div>
</Card>
